<div class="card mb-4">
  <div class="card-body">
    <i class="fa fa-user fa-3x float-right"></i>
    <h4 class="card-title">Customer</h4>
    <h6 class="card-subtitle mb-2 text-muted">Details</h6>
    <hr />
    <dl class="row mb-0">
      <dt class="col-sm-5">Account ID</dt>
      <dd class="col-sm-7"><%= current_customer.id %></dd>

      <dt class="col-sm-5">Firstname</dt>
      <dd class="col-sm-7"><%= current_customer.first_name %></dd>

      <dt class="col-sm-5">Lastname</dt>
      <dd class="col-sm-7"><%= current_customer.last_name %></dd>
    </dl>
  </div>
</div>
